// COLORS

$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$blue-violet: #8A2BE2;
$dark-violet: #9400D3;
$crimson: #DC143C;

// TIMING

$fade-duration: 1s;
$columns-transition-delay: 0.2s;